# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
Unity/Platformer/Platformer/Library/
Unity/New Unity Project 1/Library/
VB/Gui/bin/
*.suo
Specflow/spfl/spfl/obj/
Tests/PerformanceCounters/obj/
Specflow/spfl/scenarios/obj/
Specflow/spfl/scenarios/bin/
Tests/PerformanceCounters/bin/
Richter/Threading/thr/thr/obj/
Tests/Tests/obj/
Tests/Starter/obj/
Tests/Tests/bin/
Tests/Starter/bin/
VB/Gui/obj/
WPF/McDonald/SharedResources/obj/
WPF/McDonald/SingletonApplication/obj/
WPF/McDonald/McDonald/obj/
WPF/WinformsWpfWindow/WinfomwsWpfWindow/obj/
WPF/WinformsWpfWindow/WinfomwsWpfWindow/Starter/obj/
WPF/WinformsWpfWindow/WinfomwsWpfWindow/Starter/bin/
WPF/WinformsWpfWindow/WpfClassLibrary/obj/
VB/.vs/
Algorythms/CSharp/Graphs/.vs/
.NET/TPL/Awaiter/wpf/chain/obj/
WPF/McDonald/.vs/
.NET/TPL/Awaiter/wpf/asyncTest/obj/
.NET/TPL/Awaiter/wpf/async_Test/obj/
Algorythms/CSharp/Graphs/ConsoleApplication1/.vs/
Algorythms/CSharp/Graphs/ConsoleApplication1/obj/
Algorythms/CSharp/Hashing/Hashing/obj/
Algorythms/CSharp/Numbers/primes/primes/obj/
Algorythms/CSharp/Search/Search/.vs/
*.user
Algorythms/CSharp/Numbers/primes/primes/bin/
Algorythms/CSharp/Hashing/Hashing/.vs/
.NET/TPL/Awaiter/Delay/obj/
.NET/TPL/Awaiter/async/obj/
.NET/TPL/Awaiter/awtr/awaitasync/obj/
.NET/TPL/Awaiter/wpf/AsyncLambdas/obj/
.NET/TPL/Awaiter/awtr/bin/
.NET/TPL/Awaiter/awtr/customAwaiter/obj/
.NET/TPL/Awaiter/awtr/obj/
.NET/Generic/generic/bin/
.NET/TPL/Awaiter/wpf/asyncTest/bin/
WPF/WinformsWpfWindow/WpfClassLibrary/bin/
MVC/Chapter02/packages/
Algorythms/CSharp/Study/bin/
Algorythms/CSharp/Study/obj/
Algorythms/FSharp/Study/bin/
Algorythms/CSharp/Sorting/Sort/bin/
Algorythms/FSharp/Study/obj/
Algorythms/CSharp/Sorting/Sort/obj/
Algorythms/CSharp/Search/Search/Search/bin/
Algorythms/CSharp/Search/Search/Search/obj/
Algorythms/CSharp/Sorting/Sort/.vs/
Algorythms/CSharp/Hashing/Hashing/bin/
WPF/McDonald/CustomBehaviors/obj/
WPF/McDonald/CustomBehaviors/bin/
WPF/McDonald/SingletonApplication/bin/
WPF/McDonald/McDonald/bin/
Specflow/spfl/spfl/bin/
Specflow/spfl/packages/
Codeforces/1A_TheaterSquare/cs/1A_TheaterSquare/obj/
Codeforces/1A_TheaterSquare/cs/1A_TheaterSquare/bin/
.NET/TPL/Awaiter/wpf/AsyncLambdas/bin/
Python/classes/.idea/
Python/StateMachines/StateMachineToRegex/.idea/
Python/namespaces/.idea/
.NET/XML/XElement_Namespaces/obj/
*.pdb
Python/arguments/.idea/
Python/sequences/.idea/
Algorythms/Numbers/primes/primes/obj/
.NET/general/general/obj/
.NET/general/general/bin/
.NET/Wix#/wixplay/installer/obj/
.NET/Wix#/wixplay/wixplay/obj/
.NET/Wix#/wixplay/wixplay/packages/
.NET/Wix#/wixplay/installer/bin/
.NET/DLR/dlrstudy/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
.NET/DLR/dlrstudy/obj/
.NET/Wix#/wixplay/wixplay/bin/
.NET/DLR/dlrstudy/bin/
.NET/Wix#/wixplay/packages/
.NET/Wix#/wixplay/installer/wix/installer.g.wxs
.NET/MEF/update-on-the-fly/AppDomainTest/obj/
.NET/MEF/update-on-the-fly/AppDomainTest/bin/
.NET/MEF/update-on-the-fly/AppDomainTestInterfaces/obj/
.NET/MEF/update-on-the-fly/AppDomainTestInterfaces/bin/
.NET/MEF/update-on-the-fly/AppDomainTestRunner/obj/
.NET/Wix#/Setup/bin/
.NET/MEF/update-on-the-fly/AppDomainTest.PartTwo/obj/
.NET/MEF/update-on-the-fly/AppDomainTest.PartOne/obj/
.NET/IronPython/ipy/packages/
.NET/IronPython/ipy/obj/
.NET/IronPython/ipy/bin/
.NET/Wix#/wixsh/packages/
.NET/Wix#/Setup/obj/
.NET/Wix#/wixsh/obj/
.NET/ExpandoObject/expando/obj/
.NET/AppDomain/appdom/obj/
.NET/ExpandoObject/expando/bin/
.NET/AppDomain/appdom/bin/
Codeforces/609A_FlashCards/.idea/workspace.xml
.NET/Wix#/wixsh/bin/
.NET/MEF/update-on-the-fly/AppDomainTestRunner/bin/
.NET/TPL/Non-Awaited call/nonaw/obj/
.NET/TPL/Non-Awaited call/nonaw/bin/
.NET/TPL/deadlock/bin/
.NET/TPL/deadlock/obj/
.NET/TPL/AsyncDeadlockCommonIssue/shared/obj/
.NET/TPL/AsyncDeadlockCommonIssue/shared/bin/
.NET/TPL/AsyncDeadlockCommonIssue/obj/
.NET/TPL/AsyncDeadlockCommonIssue/bin/
.NET/Serilog/helloworld/helloworld/obj/
.NET/Serilog/helloworld/helloworld/bin/
.NET/Serilog/helloworld/packages/
.NET/WPF/WindowFromScratch/metro/metro/bin/
.NET/WPF/WindowFromScratch/metro/Styles/obj/
.NET/Google Maps/maps/mapsForms/obj/
.NET/WPF/WindowFromScratch/metro/metro/obj/
.NET/Configuration/Configuration/obj/
.NET/Configuration/Configuration/bin/
Python/Django/first/fst/bin/
Python/Django/first/fst/obj/
.NET/EF/code-first/cf/bin/
.NET/EF/code-first/cf/obj/
.NET/EF/code-first/cf/packages/
.NET/MVC/Chapter02/PartyInvites/bin/
.NET/MVC/Chapter02/PartyInvites/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
.NET/Closures/PassLambToMethod/PassLambToMethod/bin/
.NET/Closures/PassLambToMethod/PassLambToMethod/obj/
