# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
Unity/Platformer/Platformer/Library/
Unity/New Unity Project 1/Library/
VB/Gui/bin/
*.suo
Specflow/spfl/spfl/obj/
Tests/PerformanceCounters/obj/
Specflow/spfl/scenarios/obj/
Specflow/spfl/scenarios/bin/
Tests/PerformanceCounters/bin/
Richter/Threading/thr/thr/obj/
Tests/Tests/obj/
Tests/Starter/obj/
Tests/Tests/bin/
Tests/Starter/bin/
VB/Gui/obj/
WPF/McDonald/SharedResources/obj/
WPF/McDonald/SingletonApplication/obj/
WPF/McDonald/McDonald/obj/
WPF/WinformsWpfWindow/WinfomwsWpfWindow/obj/
WPF/WinformsWpfWindow/WinfomwsWpfWindow/Starter/obj/
WPF/WinformsWpfWindow/WinfomwsWpfWindow/Starter/bin/
WPF/WinformsWpfWindow/WpfClassLibrary/obj/
VB/.vs/
Algorythms/CSharp/Graphs/.vs/
.NET/TPL/Awaiter/wpf/chain/obj/
WPF/McDonald/.vs/
.NET/TPL/Awaiter/wpf/asyncTest/obj/
.NET/TPL/Awaiter/wpf/async_Test/obj/
Algorythms/CSharp/Graphs/ConsoleApplication1/.vs/
Algorythms/CSharp/Graphs/ConsoleApplication1/obj/
Algorythms/CSharp/Hashing/Hashing/obj/
Algorythms/CSharp/Numbers/primes/primes/obj/
Algorythms/CSharp/Search/Search/.vs/
*.user
Algorythms/CSharp/Numbers/primes/primes/bin/
Algorythms/CSharp/Hashing/Hashing/.vs/
.NET/TPL/Awaiter/Delay/obj/
.NET/TPL/Awaiter/async/obj/
.NET/TPL/Awaiter/awtr/awaitasync/obj/
.NET/TPL/Awaiter/wpf/AsyncLambdas/obj/
.NET/TPL/Awaiter/awtr/bin/
.NET/TPL/Awaiter/awtr/customAwaiter/obj/
.NET/TPL/Awaiter/awtr/obj/
.NET/Generic/generic/bin/
.NET/TPL/Awaiter/wpf/asyncTest/bin/
WPF/WinformsWpfWindow/WpfClassLibrary/bin/
MVC/Chapter02/packages/
Algorythms/CSharp/Study/bin/
Algorythms/CSharp/Study/obj/
Algorythms/FSharp/Study/bin/
Algorythms/CSharp/Sorting/Sort/bin/
Algorythms/FSharp/Study/obj/
Algorythms/CSharp/Sorting/Sort/obj/
Algorythms/CSharp/Search/Search/Search/bin/
Algorythms/CSharp/Search/Search/Search/obj/
Algorythms/CSharp/Sorting/Sort/.vs/
Algorythms/CSharp/Hashing/Hashing/bin/
WPF/McDonald/CustomBehaviors/obj/
WPF/McDonald/CustomBehaviors/bin/
WPF/McDonald/SingletonApplication/bin/
WPF/McDonald/McDonald/bin/
Specflow/spfl/spfl/bin/
Specflow/spfl/packages/
Codeforces/1A_TheaterSquare/cs/1A_TheaterSquare/obj/
Codeforces/1A_TheaterSquare/cs/1A_TheaterSquare/bin/
.NET/TPL/Awaiter/wpf/AsyncLambdas/bin/
Python/classes/.idea/
Python/StateMachines/StateMachineToRegex/.idea/
Python/namespaces/.idea/
.NET/XML/XElement_Namespaces/obj/
*.pdb
Python/arguments/.idea/
