<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="disasterMapUrls" type="Configuration.DisasterLayerUrlsConfigurationSection, Configuration" />
  </configSections>
  
  <disasterMapUrls>
    <url url="www.microsoft.com" />
    <url url="www.atlassian.com" />
    <url url="www.azure.com" />
  </disasterMapUrls>
</configuration>