@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    @Html.ActionLink("Generate Info", "GenerateInfoMessage", "LoggingTest");
    <br>
</div>
<div>
    @Html.ActionLink("Generate Warn", "GenerateWarnMessage", "LoggingTest");
    <br>
</div>
<div>
    @Html.ActionLink("Generate Error", "GenerateErrorMessage", "LoggingTest");
    <br>
</div>
