@model hw_.ViewModel.HomeIndexViewModel

<html>
<head>
    <Title>
        Home
    </Title>
</head>
<body>
    Hi there @Model.Contact.FirstName
    <br/>
    Your Id is @Model.Contact.Id
    <br/>
    You work for @Model.Customer.CustomerName
</body>
</html>