<html>
<head>
    <Title>Home</Title>
</head>
    <body>
        <form action="/Home/Index" method="GET">
            <label>Id</label>
            <input type="text" name="Id" value=""/>

            <label>First Name</label>
            <input type="text" name="FirstName" value=""/>

            <label>Last Name</label>
            <input type="text" name="LastName" value=""/>

            <button type="submit">Submit</button>
        </form>
    </body>
</html>